.row {
  margin-right: 0px;
  margin-left: 0px;
}

li.ui-state-default{
    background:#fff0;
    border:none;
    border-bottom:1px solid #ddd;
    text-align: left;
    padding-bottom: 10px;
}

li.ui-state-default:last-child{
    border-bottom:none;
}

@import url(http://fonts.googleapis.com/css?family=Roboto:400);
body {
  background-color:#fff;
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif;
}

.btn,.form-control,.well {
    border-radius:1px;
    box-shadow:0 0 0;
}

.form-control {
    border-color:#d7d7d7;
}

.btn-primary {
    border-color:transparent;
}

.btn-primary, .list-group-item.active:focus {
    background-color:#4285f4;
}

.btn-plus {
    background-color:#ffffff;
    border-width:1px;
    border-color:#dddddd;
    box-shadow:1px 1px 0 #999999;
    border-radius:3px;color:#666666;
    text-shadow:0 0 1px #bbbbbb;
}

.well,.panel {
    border-color:#d2d2d2;
    box-shadow:0 1px 0 #cfcfcf;
    border-radius:3px;
}

hr {
 border-color:#ececec;
}

button {
 outline: 0;
}

.btn span{
 color:#666666;
}

.list-group-item:first-child,.list-group-item:last-child {
 border-radius:0;
}

h3 {
 border:0 solid #efefef;
 border-bottom-width:1px;
 padding-bottom:10px;
}

/*navbar styles*/
@media (min-width: 768px){
  .affix-content .container {
    width: 700px;
  }

  html,body{
    background-color: #f8f8f8;
    height: 100%;
    overflow: hidden;
  }
    .affix-content .container .page-header{
    margin-top: 0;
  }
  .sidebar-nav{
        position:fixed;
        width:100%;
  }
  .affix-sidebar{
    padding-right:0;
    font-size:small;
    padding-left: 0;
  }
  .affix-row, .affix-container, .affix-content{
    height: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .affix-content{
    background-color:white;
  }
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar{
    border-radius:0;
    margin-bottom:0;
    border:0;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

@media (min-width: 769px){
  .affix-content .container {
    width: 600px;
  }
    .affix-content .container .page-header{
    margin-top: 0;
  }
}

@media (min-width: 992px){
  .affix-content .container {
  width: 900px;
  }
    .affix-content .container .page-header{
    margin-top: 0;
  }
}

@media (min-width: 1220px){
  .affix-row{
    overflow: hidden;
  }

  .affix-content{
    overflow: auto;
  }

  .affix-content .container {
    width: 1000px;
  }

  .affix-content .container .page-header{
    margin-top: 0;
  }
  .affix-content{
    padding-right: 30px;
    padding-left: 30px;
  }
  .affix-title{
    border-bottom: 1px solid #ecf0f1;
    padding-bottom:10px;
  }
  .navbar-nav {
    margin: 0;
  }
  .navbar-collapse{
    padding: 0;
  }
  .sidebar-nav .navbar li a:hover {
    background-color: #428bca;
    color: white;
  }
  .sidebar-nav .navbar li a > .caret {
    margin-top: 8px;
  }
}
